@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #212529;
}

:root{
    --color: #000;
}
/*Navbar Section*/
.navbar {
    height: auto;
    background-color: #272B2F !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-width: 230px;
}

.navbar h5{
    color :#fff !important;
    text-align: center;
    margin-top: 20px;
    height: 16vh;
}
.navbar a {
    color: #FFFFFF;
    padding: 12px 15px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 2px;
}
.navbar-highlight {
    color: #fff !important;
    border-radius: 10px;
    padding: 12px 15px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    font-weight: bold;
}
.navbar a:hover {
    color:#fff !important;
    border-radius: 10px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    
}

.navbar-brand {
    padding: 0;
}
.navbar-brand:hover {
    background-color: transparent;
}
.navbar-brand img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15vh;
    margin: 20px 0 20px 30px;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content {
    flex-grow: 1;
    background-color: #1F1F1F;
    overflow-x: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: #272B2F;
}

.header button{
    margin-right: 10px;
}
.dashboard {
    background-color: #1F1F1F;
    padding: 0;
    margin: 0;
    height: auto;
}
.dashboard h3{
    color: #fff;
    padding-left: 20px;
}
.navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.search-bar input {
    height: 6vh;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 40px; 
}

.search-bar i {
    position: absolute;
    left: 10px; 
    font-size: 18px;
    color: #000;
    padding: 5px;
}
.profile-admin {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
}
.profile-admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
}

.profile-admin button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    display: flex;
    margin: auto;
}
.profile-admin i {
    color: #7A3015;
}
.profile-admin span {
    font-size: 16px;
    font-weight: bold;
}
.maintenance {
    border-top: 1px solid #e4e0e0;
}
.maintenance p {
    margin: 0;
    font-size: 14px;
    padding-left: 16px;
    margin-top: 20px;
}
/*Navbar Section End*/

/*Dashboard Section*/

.card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    margin: auto;
}


.userss i{
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 30px;
    background-color: #403C2E;
    color: #FDBC2F;
    padding: 10px 20px;
    border-radius: 5px;
}

.plus-users i{
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 30px;
    background-color: #403C2E;
    color: #FDBC2F;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.total{
    height: 100%;
}

.total p{
    margin-bottom: 0;
}

.total-number {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.total-num{
    font-size: 24px;
}

.total-title{
    font-size: 12px;
    opacity: 80%;
}

.total-users{
    background-color: #272B2F;
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0. 0.1);
    transition: box-shadow 0.3s ease-in-out;   
}
.total-users:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.line{
    width: 90%;
    margin: auto;
}

hr{
    margin-top: 0;
    margin-bottom: 0;
    color: #808080;
}



/*Dashboard Section End*/

/*Chart Section*/
.chart-container {
    padding: 20px;
    background-color: #2A2E32;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0. 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.chart-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.chart-title {
    font-size: 18px; 
    margin-bottom: 10px; 
    color: #fff; 
    padding: 10px 0 0 10px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .chart-container {
        width: 90%;
        display: block; 
        padding: 0;
    }

    .chart-title {
        font-size: 16px;
    }
}

/*Chart Section End*/

/*Supplier Request*/

.supplier-reg{
    margin-top: 50px;

}

.supplier-reg h2{
    display: flex;
    justify-content: center;
    color: #fff;
}

.supplier-reg h5{
    color: #fff;
    display: flex;
    justify-content: center;
}

table{
    border-radius: 20px !important;
}

.report-table h5{
    color: #fff !important;
}

.table-remove-borders th,
.table-remove-borders td {
    border: none !important;
    white-space: nowrap;
    text-align: center;
    background-color: #2A2E32;
    
}
.table-remove-borders th{
    background-color: #2A2E32 ;
    color: #fff;
}

.table-remove-borders td{
    background-color: #F1F5F9 !important;
}

tr:hover{
    background-color: #FFFFFF;
}




/*SUpplier Request End*/